@font-face {
  font-family: "Sukhumvit Tadmai";
  src: url("fonts/sukhumvittadmai-bol.woff2") format("woff2"),
    url("fonts/sukhumvittadmai-bol.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Tadmai";
  src: url("fonts/sukhumvittadmai-med.woff2") format("woff2"),
    url("fonts/sukhumvittadmai-med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
